<div id="controls">
    <div id="page-jump-listing" class="paginator">🔗 Listing</div>
    <div id="layout-mode" class="paginator">⤡</div>
    <div id="page-back-10" class="paginator">◀◀</div>
    <div id="page-next-10" class="paginator">▶▶</div>
    <div id="page-back" class="paginator">◀</div>
    <div id="page-next" class="paginator">▶</div>
</div>
<div id="content">
    <div id="scroller">
        <img id="image">
        <video id="video" loop></video>
        <audio id="audio" controls></audio>
        <div id="text">
            <a href="#" id="text-anchor"></a>
            <div id="text-content"></div>
        </div>
    </div>
</div>
