<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Servel.NET</title>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no">
        <link href="/_servel/img/favicon.png" rel="icon" type="image/png">
        <link href="/_servel/css/normalize.css" rel="stylesheet">
        <link href="/_servel/css/common.css" rel="stylesheet">

        <link href="/_servel/css/home.css" rel="stylesheet" />

        <script src="/_servel/js/common.js"></script>
        <script src="/_servel/js/home.js"></script>
    </head>
    <body>
        <div id="home">
            <h1>🏠 Browse Directories</h1>
            <div id="container"></div>
        </div>
    </body>
</html>
