{% section head %}
    <link href="/_servel/css/home.css" rel="stylesheet" />
{% endsection %}

<div id="home">
    <h1>Browse Listings</h1>
    <ul id="roots">
        {% for listing in Listings %}
            <li>
                <a href="{{listing.RequestPath}}">{{listing.RequestPath}}</a>
                <a class="new-tab" href="{{listing.RequestPath}}" target="_blank">(New Tab)</a>
            </li>
        {% endfor %}
    </ul>
</div>