<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Servel.NET</title>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no">
        <link href="/_servel/img/favicon.png" rel="icon" type="image/png">
        <link href="/_servel/css/normalize.css" rel="stylesheet">
        <link href="/_servel/css/common.css" rel="stylesheet">

        <link href="/_servel/css/listing.css" rel="stylesheet" />
        <link href="/_servel/css/gallery.css" rel="stylesheet" />

        <script src="/_servel/js/filesize_min.js"></script>
        <script src="/_servel/js/swipe_detector.js"></script>
        <script src="/_servel/js/common.js"></script>
        <script src="/_servel/js/inflater.js"></script>
        <script src="/_servel/js/entries.js"></script>
        <script src="/_servel/js/index.js"></script>
        <script src="/_servel/js/listing.js"></script>
        <script src="/_servel/js/ume.js"></script>
        <script src="/_servel/js/gallery.js"></script>
    </head>
    <body>
        <div id="gallery">
            <div id="content-handle">☰</div>
            <div id="content">
                <img id="image">
                <video id="video"></video>
                <audio id="audio" controls></audio>
                <iframe id="document"></iframe>
            </div>
            <div id="content-overlay"></div>
            <div id="overlay">
                <div id="overlay-header">
                    <h1 id="overlay-title" class="name text-selectable"></h1>
                    <h2 class="name text-selectable">
                        <span class="icon">📁</span>
                        <a id="overlay-jump-listing" href="#"></a>
                    </h2>
                </div>
                <div class="spacer"></div>
                <div id="controls">
                    <div class="spacer"></div>
                    <div id="jump-listing">
                        📁
                    </div>
                    <div id="layout-mode">
                        <svg><use xlink:href="#icon-aspect-ratio" href="#icon-aspect-ratio" /></svg>
                    </div>
                    <div id="page-back-10">
                        ⏪
                    </div>
                    <div id="page-next-10">
                        ⏩
                    </div>
                    <div id="page-back">
                        ◀️
                    </div>
                    <div id="page-next">
                        ▶️
                    </div>
                </div>
            </div>
        </div>
        <div id="listing">
            <div id="header">
                <h1 id="title"></h1>
                <h1 id="jump-gallery-wrapper">
                    <a id="jump-gallery" href="#">Gallery</a>
                </h1>
            </div>
            <div id="toolbar-spy"></div>
            <div id="toolbar-wrapper">
                <div id="toolbar">
                    <a href="#" id="show-information">ℹ️</a>
                    <div>
                        <label>Sort</label>
                        <a class="sortable" data-sort-method="name" data-sort-direction="asc" href="#">Name</a>
                        <a class="sortable" data-sort-method="type" data-sort-direction="asc" href="#">Type</a>
                        <a class="sortable" data-sort-method="size" data-sort-direction="asc" href="#">Size</a>
                        <a class="sortable" data-sort-method="mtime" data-sort-direction="asc" href="#">Modified</a>
                    </div>
                    <div id="layout-mode">
                        <label>View</label>
                        <a class="layout-mode" data-layout-mode="list" href="#">List</a>
                        <a class="layout-mode" data-layout-mode="thumbnails" href="#">Thumbnails</a>
                    </div>
                    <input id="search" type="search">
                </div>
            </div>
            <div id="entries"></div>
        </div>

        <dialog id="info-dialog">
            <div class="close">🗙</div>
            <h3>Listing Information</h3>
            <div id="directory-info"></div>
        </dialog>

        <svg class="default-hidden">
            <symbol id="icon-aspect-ratio" height="52" viewBox="0 -960 960 960" width="52"><path d="M577-274h191v-194h-60v134H577v60ZM193-492h60v-134h131v-60H193v194Zm-53 332q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-520H140v520Zm0 0v-520 520Z" /></symbol>
        </svg>
    </body>
</html>
