{% section head %}
    <link href="/_servel/css/listing.css" rel="stylesheet" />
    <link href="/_servel/css/gallery.css" rel="stylesheet" />
    <link href="/_servel/css/gallery-text.css" rel="stylesheet" />

    <script>
        window.directoryEntry = {{DirectoryEntry | raw}};
    </script>

    <script src="/_servel/js/filesize.min.js"></script>
    <script src="/_servel/js/common.js"></script>
    <script src="/_servel/js/inflater.js"></script>
    <script src="/_servel/js/entries.js"></script>
    <script src="/_servel/js/index.js"></script>
    <script src="/_servel/js/listing.js"></script>
    <script src="/_servel/js/ume.js"></script>
    <script src="/_servel/js/gallery.js"></script>

{% endsection %}

{% capture Title %}
Listing of {{FullPath}}
{% endcapture %}

<div id="gallery">
    {% render '_Gallery' %}
</div>
<div id="listing">
    {% render '_Listing' %}
</div>
