<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Servel.NET</title>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no">
        <link href="/_servel/css/normalize.css" rel="stylesheet">
        <link href="/_servel/css/common.css" rel="stylesheet">

        <link href="/_servel/css/listing.css" rel="stylesheet" />
        <link href="/_servel/css/gallery.css" rel="stylesheet" />
        <link href="/_servel/css/gallery_text.css" rel="stylesheet" />

        <script src="/_servel/js/filesize_min.js"></script>
        <script src="/_servel/js/common.js"></script>
        <script src="/_servel/js/inflater.js"></script>
        <script src="/_servel/js/entries.js"></script>
        <script src="/_servel/js/index.js"></script>
        <script src="/_servel/js/listing.js"></script>
        <script src="/_servel/js/ume.js"></script>
        <script src="/_servel/js/gallery.js"></script>
    </head>
    <body>
        <div id="gallery">
            <div id="controls">
                <div id="page-jump-listing">
                    <svg><use xlink:href="#icon-folder-open" href="#icon-folder-open" /></svg>
                </div>
                <div class="spacer"></div>
                <div id="layout-mode">
                    <svg><use xlink:href="#icon-aspect-ratio" href="#icon-aspect-ratio" /></svg>
                </div>
                <div id="page-back-10">
                    <svg><use xlink:href="#icon-keyboard-double-arrow-left" href="#icon-keyboard-double-arrow-left" /></svg>
                </div>
                <div id="page-next-10">
                    <svg><use xlink:href="#icon-keyboard-double-arrow-right" href="#icon-keyboard-double-arrow-right" /></svg>
                </div>
                <div id="page-back">
                    <svg><use xlink:href="#icon-navigate-before" href="#icon-navigate-before" /></svg>
                </div>
                <div id="page-next">
                    <svg><use xlink:href="#icon-navigate-next" href="#icon-navigate-next" /></svg>
                </div>
            </div>
            <div id="content">
                <img id="image">
                <video id="video"></video>
                <audio id="audio" controls></audio>
                <div id="text">
                    <a href="#" id="text-anchor"></a>
                    <div id="text-content"></div>
                </div>
            </div>
        </div>
        <div id="listing">
            <div id="header">
                <h1 id="title"></h1>
                <h1 id="jump-gallery-wrapper">
                    <a id="jump-gallery" href="#">Gallery</a>
                </h1>
            </div>
            <div id="search-wrapper">
                <input id="search" type="search">
            </div>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th class="name sortable sort-active sort-asc" data-sort-method="name" data-sort-direction="asc">
                                <a href="#">Name</a>
                            </th>
                            <th class="new-tab">
                            </th>
                            <th class="type sortable" data-sort-method="type" data-sort-direction="asc">
                                <a href="#">Type</a>
                            </th>
                            <th class="size sortable" data-sort-method="size" data-sort-direction="asc">
                                <a href="#">Size</a>
                            </th>
                            <th class="modified sortable" data-sort-method="mtime" data-sort-direction="asc">
                                <a href="#">Modified</a>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div id="listing-container"></div>
                <div id="load-more-spy"></div>
            </div>
        </div>

        <svg class="default-hidden">
            <symbol id="icon-folder-open" height="52" viewBox="0 -960 960 960" width="52"><path d="M140-160q-23 0-41.5-18.5T80-220v-520q0-23 18.5-41.5T140-800h281l60 60h339q23 0 41.5 18.5T880-680H455l-60-60H140v520l102-400h698L833-206q-6 24-22 35t-41 11H140Zm63-60h572l84-340H287l-84 340Zm0 0 84-340-84 340Zm-63-460v-60 60Z" /></symbol>
            <symbol id="icon-aspect-ratio" height="52" viewBox="0 -960 960 960" width="52"><path d="M577-274h191v-194h-60v134H577v60ZM193-492h60v-134h131v-60H193v194Zm-53 332q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-520H140v520Zm0 0v-520 520Z" /></symbol>
            <symbol id="icon-keyboard-double-arrow-left" height="52" viewBox="0 -960 960 960" width="52"><path d="M453-241 213-481l240-240 42 42-198 198 198 198-42 42Zm253 0L466-481l240-240 42 42-198 198 198 198-42 42Z" /></symbol>
            <symbol id="icon-keyboard-double-arrow-right" height="52" viewBox="0 -960 960 960" width="52"><path d="M411-481 213-679l42-42 240 240-240 240-42-42 198-198Zm253 0L466-679l42-42 240 240-240 240-42-42 198-198Z" /></symbol>
            <symbol id="icon-navigate-before" height="52" viewBox="0 -960 960 960" width="52"><path d="M561-240 320-481l241-241 43 43-198 198 198 198-43 43Z" /></symbol>
            <symbol id="icon-navigate-next" height="52" viewBox="0 -960 960 960" width="52"><path d="M530-481 332-679l43-43 241 241-241 241-43-43 198-198Z" /></symbol>
        </svg>
    </body>
</html>
