[*]
charset = utf-8

[*.cs]

# SYSLIB1037: Deserialization of init-only properties is currently not supported in source generation mode.
dotnet_diagnostic.SYSLIB1037.severity = none

[*.css]

indent_style = space
indent_size = 2

[*.js]

indent_style = space
indent_size = 2