<div id="header">
    <h1 id="title">Listing of {{Path}}</h1>
</div>
<div id="search-wrapper">
    <input id="search" type="search">
</div>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th class="sortable sort-active sort-asc" data-sort_method="name" data-sirt_direction="asc">
                    <a href="#">Name</a>
                </th>
                <th class="new-tab">
                </th>
                <th class="type sortable" data-sort_method="type" data-sort_direction="asc">
                    <a href="#">Type</a>
                </th>
                <th class="size sortable" data-sort_method="size" data-sort_direction="asc">
                    <a href="#">Size</a>
                </th>
                <th class="modified sortable" data-sort_method="mtime" data-sort_direction="asc">
                    <a href="#">Modified</a>
                </th>
            </tr>
        </thead>
    </table>
    <div id="listing-container"></div>
</div>