* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.4;
}

html, body {
  overscroll-behavior-x: none;
}

body {
  padding: 0;
  min-height: 100vh;
  font-size: 16px;
  user-select: none;
}

.default-hidden {
  display: none;
}

.text-selectable {
  user-select: text;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

dialog {
  padding: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 15px rgba(0, 0, 0, .8);
}

dialog .close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0 0 5px 5px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}