body {
  color: #000000;
  background-color: #ffffff;
}

#content {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  padding: 30px;
}

#content p {
  margin-top: 0;
  margin-bottom: 1.2em;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  margin-top: 0;
  margin-bottom: 0.6em;
}

#content h1 {
  font-size: 36px;
}

#content h2 {
  font-size: 26px;
}

#content h3 {
  font-size: 22px;
}

#content h4 {
  font-size: 18px;
}

#content h5 {
  font-size: 16px;
}

#content h6 {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  #content {
    padding: 15px;
  }
}
