#gallery {
  background: #333;
  display: none;
  height: 100vh;
}

body.has-gallery.gallery #gallery {
  display: flex;
}

#controls {
  display: flex;
}

#controls > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;

  background-color: #1f1f1f;
  fill: #a0a0a0;

  cursor: pointer;
}

#controls > div:not(.spacer):hover {
  background-color: #0f0f0f;
  fill: #c1c1c1;
}

#controls > div.spacer {
  flex-grow: 1;
  width: auto;
  height: auto;
  cursor: auto;
}

#controls > div > svg {
  width: 52px;
  height: 52px;
  pointer-events: none;
}

#content-page-back, #content-page-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  bottom: 100px;
  width: 100px;
  opacity: 0;
  background-color: #1f1f1f;
  color: #a0a0a0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

#content-page-back:active, #content-page-next:active {
  opacity: 0.75;
}

#content-page-back > div, #content-page-next > div {
  pointer-events: none;
}

#content-page-back {
  left: 0;
}

#content-page-next {
  right: 0;
  margin-right: 20px;
}

#content {
  display: flex;
  align-items: safe center;
  justify-content: safe center;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  position: relative;
  overflow: auto;
}

body.portrait #gallery {
  flex-direction: column;
}

body.portrait #controls {
  flex-direction: row;
}

body.portrait.touch #controls {
  order: 1;
}

body.portrait.touch #content {
  order: 0;
}

body.landscape #gallery {
  flex-direction: row;
}

body.landscape #controls {
  flex-direction: column;
}

body.landscape.touch #controls {
  order: 1;
}

body.landscape.touch #content {
  order: 0;
}

#image, #video, #audio, #document {
  display: none;
  margin: 0 auto 0 auto;
}

#video:focus, #audio:focus {
  outline: none;
}

#audio {
  width: 100%;
}

#document {
  color: #000000;
  background-color: #ffffff;
  border: none;
}

#gallery.video #video {
  display: block;
}

#gallery.image #image {
  display: block;
}

#gallery.audio #audio {
  display: block;
}

#gallery.document #document {
  display: block;
}

#gallery.contain #image, #gallery.contain #video, #gallery.contain #audio, #gallery.contain #document {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#gallery.contain #audio {
  height: revert;
}

#gallery.fit-both #image, #gallery.fit-both #video, #gallery.fit-both #audio, #gallery.fit-both #document {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

#gallery.fit-width #image, #gallery.fit-width #video, #gallery.fit-width #audio, #gallery.fit-width #document {
  max-width: 100%;
}

#gallery.clamp-width #image, #gallery.clamp-width #video, #gallery.clamp-width #audio, #gallery.clamp-width #document {
  max-width: 1000px;
}

@media screen and (max-width: 767px) {
  #gallery.video, #gallery.audio, #gallery.document {
    padding: 0;
  }

  #controls > div {
    width: 60px;
    height: 60px;
  }

  #content-page-back, #content-page-next {
    width: 60px;
  }
}

@media screen and (max-width: 479px) {
  #page-back-10 {
    display: none;
  }

  #page-next-10 {
    display: none;
  }
}
